---
import { menuLinks, siteConfig } from "@/site-config";

const year = new Date().getFullYear();
const { url } = Astro.request;
const currentPath = new URL(url).pathname;
const isHomePage = currentPath === "/";
---

<footer
	class="mt-auto flex w-full flex-col items-center justify-center gap-y-2 pb-4 pt-20 text-center align-top font-semibold text-gray-600 sm:flex-row sm:justify-between sm:text-xs dark:text-gray-400"
>
	<div class="me-0 sm:me-4">
		Copyright &copy; {year}{" "}
		{siteConfig.author} 🚀
	</div>
	<nav
		aria-label="More on this site"
		class="flex gap-x-2 sm:gap-x-0 sm:divide-x sm:divide-gray-500"
	>
		<a href="/" class="py-2 sm:px-2 sm:py-0 sm:hover:text-textColor sm:hover:underline"> Inicio</a>
		{
			isHomePage &&
				menuLinks.map((link) => (
					<a
						href={link.path}
						class="py-2 sm:px-2 sm:py-0 sm:hover:text-textColor sm:hover:underline"
					>
						{link.title}
					</a>
				))
		}
	</nav>
</footer>
