---
import PageLayout from "@/layouts/Base";
import PostPreview from "@/components/blog/PostPreview";
import SocialList from "@/components/SocialList";
import { getAllPosts, sortMDByDate } from "@/utils";
import { Image } from "astro:assets";
import { Icon } from "astro-icon";
import Avatar from "@/assets/images/perfil.jpg";
import Experience from "@/components/Experience";

const MAX_POSTS = 10;
const allPosts = await getAllPosts();
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);
---

<PageLayout meta={{ title: "Home" }}>
	<section class="mt-8 md:mt-14">
		<div
			class="ms:items-end h-[calc(100vh-23rem)] justify-between sm:h-[calc(100vh-24rem)] sm:flex-row md:h-[calc(100vh-24rem)] md:items-center"
		>
			<div class="relative mb-4 w-[80px] sm:mb-4 sm:w-[100px] md:mb-4">
				<Image
					alt="Juan Narvaez"
					height={0}
					width={0}
					src={Avatar}
					sizes="60vw"
					class="rounded-full grayscale filter"
				/>
			</div>
			<div class="flex flex-col">
				<h2
					class="flex items-center text-lg font-semibold text-gray-700 dark:text-gray-200 md:text-2xl"
				>
					Hola,
					<img
						class="mx-3 mb-3 w-6 md:w-8"
						src="https://media.giphy.com/media/hvRJCLFzcasrR4ia7z/giphy.gif"
						alt="hi"
					/>
					 Soy
				</h2>

				<h1 class="mb-1 text-2xl font-bold tracking-tight text-black dark:text-white md:text-4xl">
					Juan David Narváez
				</h1>
				<p class="text-base font-medium text-gray-700 dark:text-gray-200 md:text-lg">
					Desarrollador Web con más de un año de experiencia en la creación de aplicaciones únicas.
					Nacido en Colombia, pero actualmente residiendo en Buenos Aires, Argentina.
				</p>
				<div class="mt-4">
					<SocialList />
				</div>
			</div>
		</div>
	</section>
	<section class="mt-36">
		<div class="flex gap-4">
			<Icon class="mt-1 h-5 w-5" name="zondicons:portfolio" aria-hidden="true" focusable="false" />
			<h2 class="title mb-9 text-2xl">Experiencia laboral</h2>
		</div>
		<Experience />
	</section>
	<section class="mt-36">
		<div class="flex gap-4">
			<Icon class="mt-1 h-7 w-7" name="ph:code-bold" aria-hidden="true" focusable="false" />
			<h2 class="title mb-9 text-2xl">Proyectos</h2>
		</div>
	</section>
	<section class="mt-16">
		<h2 class="title mb-4 text-xl">Technologies</h2>
	</section>
	<section aria-label="Blog post list" class="mt-24">
		<h2 class="title mb-4 text-xl">Posts</h2>
		<ul class="space-y-4 sm:space-y-2">
			{
				allPostsByDate.map((p) => (
					<li class="flex flex-col gap-x-2 sm:flex-row">
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
	</section>
</PageLayout>
