---
import PageLayout from "@/layouts/Base";
import Header from "@/components/Header";
import IndexContent from "@/components/IndexContent";
---

<PageLayout meta={{ title: "Home" }}>
	<section class="mt-8 md:mt-28">
		<Header />
	</section>
	<IndexContent />
</PageLayout>
