---
import PageLayout from "@/layouts/Base";
import PostPreview from "@/components/blog/PostPreview";
import { getAllPosts, sortMDByDate } from "@/utils";
import { Icon } from "astro-icon";
import Experience from "@/components/Experience";
import Projects from "@/components/Projects";
import Stack from "@/components/Stack";
import Contact from "@/components/Contact";
import Header from "@/components/Header";

const MAX_POSTS = 10;
const allPosts = await getAllPosts();
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);
---

<PageLayout meta={{ title: "Home" }}>
	<section class="mt-8 md:mt-14">
		<Header />
	</section>
	<section class="mt-36" id="experience">
		<div class="flex gap-4">
			<Icon
				class="mt-1 h-5 w-4 md:h-6 md:w-5"
				name="zondicons:portfolio"
				aria-hidden="true"
				focusable="false"
			/>
			<h2 class="title mb-6 text-xl md:text-2xl">Experiencia laboral</h2>
		</div>
		<Experience />
	</section>
	<section class="mt-10" id="projects">
		<div class="flex gap-4">
			<Icon
				class="mt-0 h-7 w-6 md:mt-1 md:h-6 md:w-7"
				name="ph:code-bold"
				aria-hidden="true"
				focusable="false"
			/>
			<h2 class="title mb-6 text-xl md:text-2xl">Proyectos</h2>
		</div>
		<Projects />
	</section>
	<section class="mt-10" id="projects">
		<div class="flex gap-4">
			<Icon
				class="mt-1 h-6 w-6 md:h-7 md:w-7"
				name="ri:stack-fill"
				aria-hidden="true"
				focusable="false"
			/>
			<h2 class="title mb-6 text-xl md:text-2xl">Stack & Tools</h2>
		</div>
		<Stack />
	</section>
	<section aria-label="Blog post list" class="mt-10">
		<div class="flex gap-4">
			<Icon class="mt-1 h-7 w-7" name="mdi:paper-edit" aria-hidden="true" focusable="false" />
			<h2 class="title mb-6 text-2xl">Posts</h2>
		</div>
		<ul class="space-y-4 sm:space-y-2">
			{
				allPostsByDate.map((p) => (
					<li class="flex flex-col gap-x-2 sm:flex-row">
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
	</section>
	<section class="mt-10" id="contact">
		<div class="flex gap-4">
			<Icon
				class="mt-1 h-7 w-7"
				name="icon-park-outline:email-down"
				aria-hidden="true"
				focusable="false"
			/>
			<h2 class="title mb-6 text-2xl">Contacto</h2>
		</div>
		<Contact />
	</section>
</PageLayout>
