<span
	class="inline-flex items-center rounded-lg bg-green-100 px-2.5 py-0.5 text-xs font-medium text-green-800 dark:bg-green-900 dark:text-green-300 md:mx-3 md:text-xs"
>
	<span class="relative me-2 flex h-2 w-2">
		<span
			class="absolute inline-flex h-full w-full animate-ping rounded-full bg-green-400 opacity-90"
		></span>
		<span class="relative inline-flex h-2 w-2 rounded-full bg-green-500"></span>
	</span>
	<slot />
</span>
