---
import LogoCoder from "@/assets/images/coderhouse_logo.jpeg";
import LogoAtaway from "@/assets/images/ataway_logo.jpeg";
import TimeLineElement from "@/components/TimeLine";
---

<div class="mt-4 flex flex-col">
	<div class="time-line-container mb-10">
		<TimeLineElement
			title="Software Developer"
			subtitle="Ataway [Buenos Aires, Argentina]"
			time="Diciembre 2022 - Actualidad"
			image={LogoAtaway}
			link="https://www.ataway.com/es-ar/"
		>
			Diseñar y desarrollar aplicaciones y procesos empresariales utilizando la plataforma Dell
			Boomi y UKG Dimensions.
		</TimeLineElement>

		<TimeLineElement
			title="Tutor de Programación"
			subtitle="CoderHouse [Buenos Aires]"
			time="Abril 2021 - Actualidad"
			image={LogoCoder}
			link="https://www.coderhouse.com/"
		>
			Realizar un seguimiento a los estudiantes: acompañarlos en su proceso de aprendizaje a lo
			largo del curso, motivarlos para realizar los desafíos y ofrecer apoyo en las dificultades que
			puedan atravesar
		</TimeLineElement>
	</div>
</div>
