---
import SkillCard from "../components/SkillsCards.astro";
---

<div class="flex flex-wrap justify-center">
	<SkillCard
		name="JavaScript"
		url="https://developer.mozilla.org/es/docs/Web/JavaScript"
		img="https://cdn.svgporn.com/logos/javascript.svg"
		title="JavaScript"
		alt="JavaScript"
	/>

	<SkillCard
		name="TypeScript"
		url="https://www.typescriptlang.org/"
		img="https://cdn.svgporn.com/logos/typescript-icon.svg"
		title="TypeScript"
		alt="TypeScript"
	/>

	<SkillCard
		name="React.Js"
		url="https://reactjs.org/"
		img="https://cdn.svgporn.com/logos/react.svg"
		title="ReactJs"
		alt="ReactJs"
	/>

	<SkillCard
		name="Next.Js"
		url="https://nextjs.org/"
		img="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nextjs/nextjs-original.svg"
		title="NextJs"
		alt="NextJs"
	/>

	<SkillCard
		name="Astro.Js"
		url="https://astro.build/"
		img="https://cdn.svgporn.com/logos/astro.svg"
		title="AstroJs"
		alt="AstroJs"
	/>
</div>
