---
import SkillCard from "../components/SkillsCards.astro";
---

<div class="flex flex-wrap justify-center">
	<SkillCard
		name="Java"
		url="https://www.java.com/es/"
		img="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/java/java-original.svg"
		title="Python"
		alt="Python"
	/>

	<SkillCard
		name="Node.Js"
		url="https://nodejs.org/es/about/"
		img="https://cdn.svgporn.com/logos/nodejs-icon.svg"
		title="NodeJs"
		alt="NodeJs"
	/>

	<SkillCard
		name="Express.Js"
		url="https://expressjs.com/es/"
		img="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/express/express-original.svg"
		title="ExpressJs"
		alt="ExpressJs"
	/>

	<SkillCard
		name="PostgreSQL"
		url="https://www.postgresql.org/"
		img="https://cdn.svgporn.com/logos/postgresql.svg"
		title="PostgreSQL"
		alt="PostgreSQL"
	/>

	<SkillCard
		name="MongoDB"
		url="https://www.mongodb.com/es"
		img="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mongodb/mongodb-original.svg"
		title="MongoDB"
		alt="MongoDB"
	/>
</div>
