---
import SkillCard from "../components/SkillsCards.astro";
---

<div class="flex flex-wrap justify-center">
	<SkillCard
		name="Docker"
		url="https://developer.mozilla.org/es/docs/Web/HTML"
		img="https://cdn.svgporn.com/logos/docker-icon.svg"
		title="Docker"
		alt="Docker"
	/>

	<SkillCard
		name="SASS"
		url="https://sass-lang.com/"
		img="https://cdn.svgporn.com/logos/sass.svg"
		title="SASS"
		alt="SASS"
	/>

	<SkillCard
		name="TailwindCSS"
		url="https://tailwindcss.com/"
		img="https://cdn.svgporn.com/logos/tailwindcss-icon.svg"
		title="Tailwind"
		alt="TailwindCSS"
	/>

	<SkillCard
		name="MaterialUI"
		url="https://mui.com/"
		img="https://cdn.svgporn.com/logos/material-ui.svg"
		title="MaterialUI"
		alt="MaterialUI"
	/>

	<SkillCard
		name="Git"
		url="https://git-scm.com/"
		img="https://cdn.svgporn.com/logos/git-icon.svg"
		title="Git"
		alt="Git"
	/>

	<SkillCard
		name="Redux"
		url="https://redux.js.org/"
		img="https://cdn.svgporn.com/logos/redux.svg"
		title="Redux"
		alt="Redux"
	/>

	<SkillCard
		name="Gnu/Linux"
		url="https://www.linux.org/"
		img="https://cdn.svgporn.com/logos/linux-tux.svg"
		title="Linux"
		alt="GNU/Linux"
	/>
</div>
